@each $name, $color in $colors {
  $radius: 2;
  @if $name == 'primary' or $name == 'secondary' {
    $radius: 4;
  }
  @for $i from 0 through $radius * 2 {
    $value: adjust-color($color, $lightness: 8% * ($i - $radius));
  
    .bg--#{$name}--#{$i} { background-color: $value; }
  }  
}
